@import '../variables.scss';


.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px 10px 10px 0px;
    input {
        height: 30px;
        width: 14rem;
        border: none;
        border-radius: 10px 0px 0px 10px;
        background-color: $clr__whiteFF;
    }

    button {
        width: fit-content;
        height: 30px;
        border: none;
        border-radius: 0px 10px 10px 0px;
        background-color: $clr__whiteFF;
    }

}